[Locations]
# Path to loadout config. Can use relative path from here.
looks_config = ./appearance.cfg

# Path to python file. Can use relative path from here.
python_file = ./bot.py

# Name of the bot in-game
name = Sushi Bot

# The maximum number of ticks per second that your bot wishes to receive.
maximum_tick_rate_preference = 120


[Details]
# Metadata
developer = Sushi
description = PPO-trained bot using RLGym + RLBot
fun_fact = Loves to freestyle while training
# github = https://github.com/your-repo-if-you-have-one
language = python

tags = 1v1, training, rlgym
